.MapMarker{
    position: relative;
    background: #02364e;
    border-radius: 3px;
    text-align: center;
    margin: 0;
}

.MapMarker h1{
    font-size: .8rem;
    text-align: center;
    line-height: .8rem;
    padding: .4rem;
    color: yellow;
}

.MapMarker a{
    color: yellow;
}

.MapMarker p{
    font-size: 1rem;
    text-align: center;
}

.Forecast p{
    font-size: .7rem;
}

.Forecast .Temp{
    font-size: 1rem;
}