.Navbar{
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 1); 
    /* box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11); */
    color: #2d2d2d;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
}

.Navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.Navbar li{
    margin: 10px;
}

.Navbar a{
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 200;
    text-decoration: none;

}

.Navbar span{
    color: #2d2d2d;
    margin: 0px 5px 5px 5px;
}