.TopBar{
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    z-index: 9;

}

.TopBar .logo{
    position: relative;
    margin-top: 5px;
}

.TopBar a{
    color: #fff;
    text-decoration: none;
}

.TopBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopBar li{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}