.TopBar{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0); /* Black color with 50% alpha/opacity */
    color: white;
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;

}

.TopBar .logo{
    align-self: center;
}

.TopBar a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}