.TopBar{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0); /* Black color with 50% alpha/opacity */
    color: white;
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 20px;
    z-index: 9;

}

.TopBar .logo{
    position: relative;
    margin-top: 10px;
}

.TopBar a{
    color: #2d2d2d;
    font-weight: 600;
    text-decoration: none;
}

.TopBar ul{
    list-style: none;
}